.scroll-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  overflow-y: auto;
  overflow-wrap: break-word;
  width: 100%;
}

.listContainer {
  height: 500px;
  background-color: #232323;
  margin: 20px 0 20px 0;
  width: 100%;
}

.message-list {
  list-style: none;
  padding: 10px 15px 10px 15px;
}