<div class='row'>
  <div class="listContainer">
    <perfect-scrollbar class="scroll-wrapper" opts="..." update="update" ngx-auto-scroll lock-y-offset="10" observe-attributes>
    <ul class='message-list'>
      <app-message></app-message>
    </ul>
    </perfect-scrollbar>
  </div>
</div>
