<li *ngFor='let currentTime of messageService.currentTimeArray, let i = index'>
  <span class='timestamp'>{{ currentTime | date: 'HH:mm:ss' }} </span>
  <span class='nickname'>Anonymous</span>
  <span class='colon'>:</span>
  <span class='message'>{{ messageService.messageListArray[i] }}</span>
</li>

<!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu euismod neque. Integer ultricies gravida ante tincidunt imperdiet. Ut non massa sit amet nulla placerat faucibus. Fusce blandit, nisi id egestas tincidunt, nulla turpis malesuada nunc, id porta tellus justo ut diam. Duis quis sapien eget massa dictum mollis. -->