li {
  padding: 6px 0 6px 0;
}

.timestamp {
  color: #7B7B7B;
  margin-right: 6px;
}

.nickname {
  font-weight: bold;
  color: rgb(170, 100, 234);
}

.colon {
  color: #7B7B7B;
  margin-right: 4px;
  margin-left: -2px;
}

.message {
    
}
