<div class='row justify-content-between'>

  <input #inpucik on-keyup.enter='sendMessage(inpucik.value)' type="text" placeholder="Send a message" class='form-control col-lg-10'>

  <button (click)='sendMessage(inpucik.value)' type="button" class="btn btn-success col-lg-1">Send</button>
  
</div>